<HTML>
    {% set mensagem = get_flashed_messages() %}
    {% if mensagem %} 
        <div class="alert alert-danger" role="alert">
            {{ mensagem[0] }}
        </div>
    {% endif %}
    <form action="/editarCalendario" method="POST">
        <input type="text" name="etapa" placeholder="etapa"/>
        <input type="text" name="data" placeholder="data"/>
        <input type="text" name="local" placeholder="local"/>
        <input type="submit" value="Cadastrar"/>
    </form>
    <form  action="/calendario">
        <input type="submit" value="Sair">
    </form>
    
</HTML>
